{% load crispy_forms_tags %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>
<body>

    <div class="container mt-4">
        {% block content %}
            <div class="align-center col-8 offset-2">
    <p class="lead mb-3 ml-0">Chain Dropdown</p>
    <hr/>
    <form method="POST" autocomplete="off" id="form">
        {% csrf_token %}
            {% crispy form %}
        </form>
        {% endblock %}
    </div>


    </div>
</body>

    {% include 'scripts.html' %}

</html>
